.anchorPane {
    /* -fx-background-image: url('../sdk_img_type1.jpg'); */
    -fx-background-size: 100% 100%;
    -fx-background-color: white;
}

.text-field-style {
    -fx-alignment: center;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 25.0;
    -fx-pref-height: 60.0;
    -fx-pref-width: 60.0;
}

.default-cell {
    -fx-text-fill: black;
}

.correct-guess {
    -fx-text-fill: blue !important;
}

.wrong-guess {
    -fx-text-fill: red;
}

.hint {
    -fx-text-fill: green !important;
}

.dark-overlay {
    -fx-background-color: #00000080;
}

.first-place {
    -fx-border-color: gold;
    -fx-border-width: 5;
}

.second-place {
    -fx-border-color: silver;
    -fx-border-width: 5;
}

.third-place {
    -fx-border-color: #CD7F32;
    -fx-border-width: 5;
}

.other-place {
    -fx-border-color: black;
    -fx-border-width: 5;
}